extends layout

block content
  div
    span
      b uuid:&nbsp;
    span= uuid

    br

    span
      b Email:&nbsp;
    span= email

    br

    span
      b isConfirmed:&nbsp;
    if isConfirmed
      span true
    else
      span false

