extends layout

block content
  div
    span
      b Email:&nbsp;
    span= email

    br

    span
      b isConfirmed:&nbsp;
    if isConfirmed
      span true
    else
      span false

  a(href="/logout") Log Out

