extends layout

block content
  style(type="text/css").
    .wrapper {
      text-align: center;
    }

    h1 {
      margin-bottom: 30px;
    }

    .text {
      text-align: left;
    }

    a {
      width:100%;
      display:block;
      text-align:center;
      margin:10px;
    }

    .actions {
      text-align: left;
    }

  .row.justify-content-center
    .wrapper
      h1= pageTitle
      .text
        span
          b Email:&nbsp;
        span= email

        br

        span
          b isConfirmed:&nbsp;
        if isConfirmed
          span true
        else
          span false

      a(href="/logout") Log Out

      .form
        form(action="/makeaction", method="post")
          input(type="text", name="value")
          input(type="submit", value="Action")

      .row.justify-content-left
        .actions
          div
          each val in actions
            div
              span
                b= val.user
              span :&nbsp;
              span= val.value

