extends layout

block content
  style(type="text/css").
    .wrapper {
      text-align: center;
    }

    h1 {
      margin-bottom: 30px;
    }

    .text {
      text-align: left;
    }

    a {
      width:100%;
      display:block;
      text-align:center;
      margin:10px;
    }

  .row.justify-content-center
    .wrapper
      h1= pageTitle
      .text
        span
          b Email:&nbsp;
        span= email

        br

        span
          b isConfirmed:&nbsp;
        if isConfirmed
          span true
        else
          span false

      a(href="/logout") Log Out

